:root {
  --autohide-sidebar-collapsed-border: calc(var(--autohide-sidebar-collapsed-no-border) + 1px);
  --autohide-sidebar-collapsed-no-border: 48px; /* calc(var(--tabs-pinned-width) + var(--tabs-margin) * 4) */
  --autohide-sidebar-collapsed: var(--autohide-sidebar-collapsed-border);
  --autohide-sidebar-extended: 414px;
  --autohide-sidebar-toolbar-height: var(--uc-toolbar-height, 32px); /* variable from hide_titlebar.css */
}
/* -------------------------- auto-hide sidebar when sidebery is open */
/* -------------- shrink sidebar by default */
#main-window #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) {
  /*   display: flex;
  flex-direction: column;
  overflow: hidden; */
  position: fixed;
  right: 0;
  /*   left: calc(100vw - var(--autohide-sidebar-collapsed)); */
  width: var(--autohide-sidebar-collapsed) !important;
  min-width: unset;
  max-width: unset;
  z-index: 1;
  transition: all 0.2s ease !important;
}
/* -------------- expand on hover */
#main-window #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]):hover,
#main-window #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header,
#main-window #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar {
  width: var(--autohide-sidebar-extended) !important; /* size of panel while extended */
  /*   left: calc(100vw - var(--autohide-sidebar-extended)); */
}
/* -------------- hide sidebar splitter */
#main-window #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][positionend] + #sidebar-splitter {
  display: none;
}
/* -------------- reserve space for collapsed sidebar on browser right */
#main-window #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) ~ #appcontent {
  margin-right: var(--autohide-sidebar-collapsed);
}
/* -------------- remove space for collapsed sidebar in fullscreen videos */
#main-window[inFullscreen][inDOMFullscreen] #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden]) ~ #appcontent {
  margin-right: 0;
}
/* -------------- set height to max minus toolbars by default */
#main-window #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  height: calc(100vh - var(--autohide-sidebar-toolbar-height));
}
/* -------------- set browser height to max when fullscreen */
#main-window[inFullscreen] #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  height: 100vh;
}

/* --------------------- sidebery - vars set in chr15-extension_sidebery.css */
@-moz-document url("moz-extension://f93f4dcf-b3a0-4090-afca-85acf2572e3a/sidebar/sidebar.html")
{
  /* --------------------- add border (requires autohide-sidebar-collapsed-border) */
  #root {
    border-left: 1px solid color-mix(in srgb, var(--s-frame-bg) 95%, white);
  }
  /* --------------------- adjust styles according to sidebar width */
  /* -------------- hide scrollbar */
  #root[data-pinned-tabs-position="panel"]:not(:hover) .ScrollBox > .scroll-container {
    overflow: hidden;
  }
  /* -------------- pinned tabs at start instead of center */
  #root[data-pinned-tabs-position="panel"]:not(:hover) .PinnedTabsBar::before {
    margin: 0;
  }
  /* -------------- shrink tabs */
  #root:not(:hover) .Tab[data-pin="false"] {
    width: var(--autohide-sidebar-collapsed-no-border);
  }
  /* -------------- remove tree indent */
  #root[data-tabs-tree-lvl-marks="true"]:not(:hover) {
    --tabs-indent: 0;
  }
  /* -------------- hide tree expandos and group counts */
  /* #root:not(:hover) .Tab[data-parent="true"][data-folded="true"] .exp,
  #root:not(:hover) .Tab[data-parent="true"][data-folded="true"] .child-count {
    display: none;
  } */
  /* -------------- set group parent favicons to full opacity */
  #root:not(:hover) .Tab[data-parent="true"][data-folded="true"] .fav > img {
    opacity: 1;
  }
  /* -------------- move audio icon */
  #root[data-pinned-tabs-position="panel"]:not(:hover) .Tab[data-pin="false"] .audio {
    top: calc(var(--fav-size) - var(--tabs-inner-gap) / 3) !important;
    left: calc(var(--fav-size) - var(--tabs-inner-gap) / 3) !important;
    width: calc(var(--tabs-pinned-audio-btn-width) - var(--tabs-inner-gap) / 3);
    height: calc(var(--tabs-pinned-audio-btn-height) - var(--tabs-inner-gap) / 3);
    border-radius: var(--tabs-border-radius);
    background-color: var(--frame-bg);
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / .2);
  }
  /* -------------- hide tab title */
  #root[data-pinned-tabs-position="panel"]:not(:hover) .Tab .title {
    display: none;
  }
  /* -------------- hide level marks */
  #root[data-tabs-tree-lvl-marks="true"]:not(:hover) .Tab[data-pin="false"]:not([data-lvl="0"]) .body::after {
    display: none;
  }
  /* -------------- shrink new tab button */
  #root:not(:hover) .TabsPanel .new-tab-btns[data-new-tab-bar-position="bottom"] {
    align-self: flex-start;
    width: var(--autohide-sidebar-collapsed-no-border);
  }
  #root:not(:hover) .TabsPanel .new-tab-btns[data-new-tab-bar-position="bottom"] + .bottom-bar .tool-btn {
    display: none;
  }
  /* -------------- isolate settings button and widen it */
  #root:not(:hover) .NavigationBar.-top .main-items,
  #root:not(:hover) .NavigationBar.-top div[title="Create snapshot"],
  #root:not(:hover) .NavigationBar.-top div[title="Search"] {
    display: none;
  }
  #root:not(:hover) .NavigationBar.-top div[title="Settings"] {
    width: var(--autohide-sidebar-collapsed-no-border);
    margin: 0;
  }
  #root:hover .NavigationBar.-top div[title="Settings"] {
    transition: width var(--d-slow) ease 1s;
  }
}
